[v-cloak] {
    display: none;
}

button:disabled {
    cursor: not-allowed;
}

.bd-search-results {
    right:auto;
    display: block;
    padding: 0;
}

/*search results inside typeahead*/
#search-typeahead, .bd-search-results {
    width:100%;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.forum-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80% auto;
    grid-template-rows: minmax(25px, 50px) auto;
    grid-template-areas: "header menu" "content menu";
}

@media only screen and (max-width: 992px) {
    .forum-grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "content";
    }

    .forum-header {
        grid-area: header;
    }

    .forum-menu {
        grid-area: menu;
        display: none;
    }

    .forum-content {
        grid-area: content;
    }
}

.forum-header {
    grid-area: header;
}

.forum-menu {
    grid-area: menu;
}

.forum-content {
    grid-area: content;
}

.upvote {
    cursor: pointer;
}

.downvote {
    cursor: pointer;
}

.upvoted {
    color: lightgreen;
}

.downvoted {
    color: lightcoral;
}

a:hover {
    cursor: pointer;
}
