@inject HttpClient Http

<div class="form-row align-items-center">
    <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Search</label>
        <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input type="text" class="form-control mr-sm-2 dropdown" placeholder="Search" @ref="_searchInput" @bind-value="SearchText" @bind-value:event="oninput" aria-label="Search">
            @if (IsShowingSuggestions)
            {
                <div class="dropdown-menu bd-search-results" role="menu">
                    @foreach (var item in Suggestions.Results)
                    {
                        <NavLink class="dropdown-item" href="@{$"/f/{item}/hot"}">@item</NavLink>
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {

}
