@model ForumPostListingVM
<div id="forum-post-list" v-cloak>
</div>

@section scripts
{
    <script type="text/javascript">
        window.__INITIAL_STATE__ = @Html.Raw(Model.ToJson());
    </script>
    <script src="~/dist/forum.js"></script>
}