#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

/*#region typeahead*/
[v-cloak] {
    display: none;
}

button:disabled {
    cursor: not-allowed;
}

.bd-search-results {
    right: auto;
    display: block;
    padding: 0;
}

/*search results inside typeahead*/
#search-typeahead, .bd-search-results {
    width: 100%;
}
/*#endregion*/

/*#region forum-post-listing*/

.forum-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80% auto;
    grid-template-rows: max-content auto;
    grid-template-areas: "header menu" "content menu";
}

@media only screen and (max-width: 992px) {
    .forum-grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "content";
    }

    .forum-header {
        grid-area: header;
    }

    .forum-menu {
        grid-area: menu;
        display: none;
    }

    .forum-content {
        grid-area: content;
    }
}

.forum-header {
    grid-area: header;
}

.forum-menu {
    grid-area: menu;
}

.forum-content {
    grid-area: content;
}

/*#endregion*/

/*#region post-comment-listing*/
.post-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80% auto;
    grid-template-rows: max-content auto;
    grid-template-areas: "header menu" "content menu";
}

@media only screen and (max-width: 992px) {
    .post-grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "content";
    }

    .post-header {
        grid-area: header;
    }

    .post-menu {
        grid-area: menu;
        display: none;
    }

    .post-content {
        grid-area: content;
    }
}

.post-header {
    grid-area: header;
}

.post-menu {
    grid-area: menu;
}

.post-content {
    grid-area: content;
}

/*#endregion*/

.upvote {
    cursor: pointer;
}

.downvote {
    cursor: pointer;
}

.upvoted {
    color: lightgreen;
}

.downvoted {
    color: lightcoral;
}

a:hover {
    cursor: pointer;
}
