
<li class="media">

    <div class="d-inline-flex justify-content-between flex-column">
        <div class="mr-3">
            <i title="upvote" v:on-click="upvote()" class="fas fa-arrow-up fa-lg"></i>
        </div>
        <div class="mr-3 text-center">
            {{ post.upvotes - post.downvotes }}
        </div>
        <div class="mr-3">
            <i title="downvote" v:on-click="downvote()" class="fas fa-arrow-down fa-lg"></i>
        </div>
    </div>
    <img class="align-self-start mr-3" alt="image">
    <div class="media-body">
        <h5 class="mt-0 mb-1">{{ post.name }}</h5>
        <p>
            <span v-html="convertedMarkdown"></span>
        </p>
        
    </div>
</li>


