<div class="form-row align-items-center">
    <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Search</label>
        <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input type="text" class="form-control mr-sm-2 dropdown" placeholder="Search" v-model="searchTerms" v-on:keydown="onKeydown" v-on:blur="onBlur" v-on:input="search" aria-label="Search">
            <div v-if="hasResults" class="dropdown-menu bd-search-results" role="menu">
                <a v-bind:href="'/f/' + item + '/hot'" on-keyup:enter="goToLink" :class="['dropdown-item', index===menuCursor ? 'active' : '']" v-for="(item, index) in searchResults">{{ item }}</a>                        
            </div>
        </div>
    </div>
</div>
