@model ForumPostListingResponse
<div id="forum-post-list">
</div>

@section scripts
{
    <script type="text/javascript">
        window.__INITIAL_STATE__ = @Html.Raw(Model.Data.ToJson());
    </script>
    <script src="~/dist/forum.js"></script>
}