<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForumSiteCore.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-4.1.3/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap-4.1.3/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <!-- jquery, popper, bootstrap, vue, showdown, lodash, site -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper-1.14.3/popper.js"></script>
        <script src="~/lib/bootstrap-4.1.3/js/bootstrap.js"></script>
        <script src="~/lib/vue-2.5.17/vue.js"></script>
        <script src="~/lib/showdown-1.8.7/showdown.js"></script>
        <script src="~/lib/lodash-4.17.11/lodash.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <!-- jquery, popper, bootstrap, vue, showdown, lodash, site -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"
                asp-fallback-src="~/lib/popper-1.14.3/popper.min.js">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap-4.1.3/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"
                asp-fallback-src="~/lib/vue-2.5.17/vue.min.js"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.7/showdown.min.js"
                asp-fallback-src="~/lib/showdown-1.8.7/showdown.min.js"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"
                asp-fallback-src="~/lib/lodash-4.17.11/lodash.min.js"   
                crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body class="site">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">forumsitecore.web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a asp-route="forum" asp-route-name="home" class="nav-link">home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-route="forum" asp-route-name="all">all</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">action</a>
                            <a class="dropdown-item" href="#">another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">disabled</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
                <div id="search-typeahead"></div>
            </div>
        </nav>
        @*<partial name="_CookieConsentPartial" />*@
    </header>

    <main class="site-content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="bg-primary text-white mt-1">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-md-3">
                    <h5>Footer</h5>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    I stay at the bottom of the viewport!
                    <span class="small">
                        <br>Unless the page content pushes me further.
                    </span>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3 text-right small align-self-end">©@DateTime.Now.Year ForumSiteCore</div>
            </div>
        </div>
    </footer>
    
    <partial name="Vue/TypeAheadComponent" />
    @RenderSection("Scripts", required: false)
</body>
</html>
